@host {
	* {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  [hidden] {
    display: none;
  }
}
      
.arrow {
  border-color: transparent;
  border-style: solid;
}

.arrow-inner {
	position: absolute;
}
