/*
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/
.polymer-ui-full-bleed {
  height: 100%;
  overflow: hidden;
  margin: 0;
}
    
.polymer-ui-gradient {
  background: -webkit-linear-gradient(-60deg, #3d3d3d, #353535);
  background: linear-gradient(-60deg, #3d3d3d, #353535);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
}

.polymer-ui-body-text {
  font: 14px Arial, Roboto, Helvetica Neue;
}

.polymer-ui-bg-gray {
  background-color: #d9d9d9;      
}

.polymer-ui-bg-jl-dark-theme {
  background-color: #4d4d4d;
}

.polymer-ui-header-gray {
  background-color: #262626;
}

.polymer-ui-header-jl-dark-theme {
  background-color: #262626;
}

.polymer-ui-header {
  background-color: #f3f3f0;
}


