@host {
  * {
    display: block;
    font-family: 'Helvetica Neue Medium', Arial, sans-serif;
    width: 300px;
  }
}

#widget-title {
  font-size: 21px;
  color: rgba(0,0,0,0.8);
  line-height: 15px;
  margin-bottom: 35px;
}

.stock-label {
  font-family: arial,sans-serif;
  font-size: medium;
  font-weight: lighter;
  color: #878787;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.large {
  font-size: x-large;
}

.small {
  font-size: small;
}

.stock-desc {
  text-transform: uppercase;
}

.quote {
  margin-top: 10px;
}

aux-stock-legend-item {
  line-height: 30px;
  display: block;
}

.more {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

/*
.chart {
  margin-right: 20px;
}

.details {
  width: 120px;
}

.details > * {
  line-height: 1.4;
}

.details > * > :first-child {
  display: inline-block;
  width: 60px;
}

#stock-chart {
  border:0;
  width:300px;
  height:150px;
  overflow:hidden;
}
*/

@media screen and (max-width: 520px) {
  .details {
    display: none;
  }
}