<!--
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->

@host {
  * {
  }
}

.item {
  overflow:hidden;
}

.change {
  color: #3d9400;
}

.change.down {
  color: #dd4b39;
}

.price {
  xcolor: rgba(0, 0, 0, 0.4);
  margin-right: 10px;
}

.label {
  float:left;
  position: relative;
  display:block;
}

.color {
  display:inline-block;
  width:16px;
  height:16px;
  margin-right:10px;
  margin-top:1px;
  border-radius: 3px;
}

.data {
  float:right;
}