/*
Copyright 2013 The Polymer Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

@host {
  * {
    position: relative;
    box-shadow: inset -8px 0px 8px -4px rgba(0, 0, 0, 0.4);
    padding: 0;
  }
}

polymer-ui-toolbar {
  /* override @host styles on polymer-ui-toolbar */
  padding: 0 20px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.02);
}

.title {
  font-size: 21px;
}

.menu {
  padding: 10px 0;
}

/* #arrow {
  position: absolute;
  margin-top: -8px;
  top: -100px;
  right: 0;
  width: 0; 
  height: 0; 
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent; 
  border-right: 9px solid white;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}
 */