/*
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

@host {
  * {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    /**/
    height: 60px;
    font-size: 18px;
  }

  .polymer-ui-light-theme *, .polymer-ui-light-theme {
    background: -webkit-linear-gradient(left to right, rgb(192,197,197), rgb(192,197,197));
    background: linear-gradient(left to right, rgb(192,197,197), rgb(192,197,197));
  }
  
  .polymer-ui-card-theme *, .polymer-ui-card-theme {
    background-color: #f0f0ed;
    color: #333333;
  }
  
  .polymer-ui-gray-theme *, .polymer-ui-gray-theme {
    background-color: #4d4d4d;
    color: #eaeaea;
  }

  .polymer-ui-jldark-theme *, .polymer-ui-jldark-theme {
    background-color: #262626;
    color: #eaeaea;
  }

  .polymer-ui-jadark-theme *, .polymer-ui-jadark-theme {
    background-color: #272725;
    color: #eaeaea;
  }

  /* TODO(sjmiles): need these separated under ShadowDOMPolyfill (no investigation yet)*/

  .polymer-ui-light-theme {
    background: #f2f2f2 -webkit-linear-gradient(left, rgba(197,197,197,0), rgba(197,197,197,0.1));
    background: #f2f2f2 linear-gradient(left, rgba(197,197,197,0), rgba(197,197,197,0.1));
    color: #333333;
  }

  .polymer-ui-card-theme {
    background-color: #f0f0ed;
    color: #333333;
  }
  
  .polymer-ui-gray-theme {
    background-color: #4d4d4d;
    color: #eaeaea;
  }

  .polymer-ui-jldark-theme {
    background-color: #262626;
    color: #eaeaea;
  }

  .polymer-ui-jadark-theme {
    background-color: #272725;
    color: #eaeaea;
  }
}

#inner {
  position: absolute;
  top: 8px;
  right: 7px;
  bottom: 8px;
  left: 7px;
  line-height: 44px;
}



